Repository renato-bohler/redux-form-input-masks, pull requests merged in 2018-05, with the labels that each got.

#30 feat(CreateNumberMask): added option allowEmpty
  examples/src/CreateNumberMask/CreateNumberMask.jsx
  examples/src/CreateNumberMask/CreateNumberMask.md
  package-lock.json
  src/__tests__/createNumberMask.test.js
  src/createNumberMask.js
Labels: enhancement, number mask

#31 fix(createTextMask): fixes backspace not controlling caret position c…
  src/createTextMask.js
Labels: bug, text mask

#33 Fix condition to call onChange and onCompletePattern
  src/__tests__/createNumberMask.test.js
  src/__tests__/createTextMask.test.js
  src/createNumberMask.js
  src/createTextMask.js
Labels: bug, text mask

#34 fix(allowEmpty): return empty string also when value is empty string
  src/__tests__/createNumberMask.test.js
  src/createNumberMask.js
Labels: bug, number mask

#36 ci(travis): adds verbose configuration to run danger-ci
  .travis.yml
Labels: CI, bug

#40 TextMask: fix functions calls when mask isn't stripped
  src/__tests__/createTextMask.test.js
  src/createTextMask.js
Labels: bug, text mask

#41 Update docs for material-ui
  examples/package-lock.json
  examples/package.json
  examples/src/CreateNumberMask/CreateNumberMask.jsx
  examples/src/MoreExamples/MoreExamples.jsx
  examples/src/MoreExamples/MoreExamples.md
Labels: dependencies, docs, enhancement
